<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="fragments/head::headfragment"></head>
<body>
<nav th:replace="fragments/navbar::navbarfragment"></nav>
<br/><br/>
<div class="container">
  <div class="row gy-5">
    <div class="col">
      <div class="p-3">
        <img th:src="@{/img/error.jpg}" style="width: 50%;"/>
      </div>
    </div>
<br/><br/>
<div class="container">
  <div class="row gy-5">
    <div class="col">
      <div class="p-3 border bg-light shadow-lg">
        <div class="jumbotron">
          <h1 class="display-3"></i>Страница не доступна!</h1>
          <p class="lead">Непредвиденная ошибка!</p>
          <span class="text-danger" th:text="${status}"></span>&nbsp;<span class="text-danger" th:text="${error}"></span>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>