<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="fragments/head::headfragment"></head>
<body>
<nav th:replace="fragments/navbar::navbarfragment"></nav>
<div class="container py-3">
  <a class="link" th:href="@{/infoes}">← Вернуться к списку разделов</a>
  <br/><br/>
  <div class="row col-md-10">
    <h2>[(${pageTitle})]</h2>
  </div>
  <br/>
  <a th:href="@{/infoes/countrys/addCountryForm}" class="btn btn-primary"><i class="bi bi-plus-lg text-light"></i>&nbsp;Добавить страну</a>
  <br/><br/>
  <div th:if="${error}">
    <div class="alert alert-danger">[(${error})]</div>
  </div>
  <table class="table table-sm table-striped" id="movieTable">
    <thead>
    <tr>
      <th>Название страны</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr class="align-middle" th:each="country: ${countrys}">
      <td th:text="${country.name}" />
      <td style="padding-left: 50px;">
        <a th:href="@{/infoes/countrys/updateCountry(id=${country.id})}" class="btn btn-dark" title="Изменить запись"><i class="bi bi-pen text-light"></i></a>

        <a th:href="@{/infoes/countrys/deleteCountry(id=${country.id})}" class="btn btn-secondary ml-2" title="Удалить запись"><i class="bi bi-x-lg text-light"></i></a>
      </td>
    </tr>
    <tr th:if="${#lists.isEmpty(countrys)}">
      <td class="text-center p-4" colspan="5">Пока не введено данных</td>
    </tr>
    </tbody>
  </table>
</div>
</body></html>